.main-page {
  position: relative;
  background: white;
  overflow: hidden;

  .scroll-space {
    position: relative;
    > div:first-of-type {
      width: 100%;
      height: 100vh;
      overflow: hidden;

      .white-bg {
        background: white;
        width: 100%;
        height: 50%;
      }

      .title {
        position: absolute;
        margin-left: 60%;
        padding: 0 40px;
        white-space: nowrap;
        color: #000;
        font-family: Pretendard;
        font-size: 120px;
        font-style: normal;
        font-weight: 600;
        line-height: 0.916;
        transform: translateY(-120%);

        @media screen and (max-width: 767px) {
          margin: 0 20px;
          font-size: 100rem;
          line-height: 0.9;
        }
      }
    }

    > div:last-of-type {
      width: 100%;
      height: 50vh;
    }
  }

  .bg-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 140%;
    height: 140vh;
    transform: translate(-50%, -50%);
    background: url(/img/main_bg.jpg) center bottom no-repeat;
    background-size: cover;

    &:before {
      display: block;
      content: " ";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(/img/main_overlay.png) center no-repeat;
      background-size: cover;
      z-index: -1;
      // background-color: red;
    }
  }

  .txt-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 90px 70px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    h1 {
      margin-top: 20vh;
      color: #000;
      font-family: Pretendard;
      font-size: 120px;
      font-style: normal;
      font-weight: 600;
      line-height: 0.916;
      opacity: 0;
    }

    p.text {
      color: #000;
      font-family: Pretendard;
      font-size: 48px;
      font-style: normal;
      font-weight: 300;
      line-height: 54px;
      opacity: 0;
    }

    p.copyright {
      position: fixed;
      right: 70px;
      bottom: 55px;
      color: #000;
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }

    @media screen and (max-width: 767px) {
      padding: 0 20px 150rem;
      justify-content: flex-end;

      h1 {
        margin: 0;
        font-size: 100rem;
        line-height: 0.9;
      }

      p.text {
        margin-top: 40rem;
        font-size: 58rem;
        line-height: 1.08;
      }

      p.copyright {
        right: 40rem;
        bottom: 40rem;
      }
    }
  }
}
