.main-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;

  .bg-swiper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    .swiper-wrapper,
    .bg-img {
      transition-timing-function: cubic-bezier(
        0.98,
        -0.01,
        0.43,
        0.8
      ) !important;

      @media screen and (max-width: 767px) {
        transition-timing-function: ease-out !important;
      }
    }

    .swiper-slide {
      overflow: hidden;

      .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover !important;
        background-position: 50% 50% !important;
      }
    }

    .swiper-pagination {
      right: 20px;

      .swiper-pagination-bullet {
        background-color: white;
        margin: 12px 0 !important;
      }
      // .swiper-pagination-bullet-active {
      //   background-color: white;
      // }
    }
  }

  .project-title-wrap {
    position: absolute;
    left: 0;
    top: 33vh;
    width: auto;
    height: auto;
    z-index: 9;
    box-sizing: border-box;
    padding: 0 40px;

    .title {
      font-weight: 700;
      font-size: 40px;
    }

    .subtitle {
      margin-top: 10px;
      font-size: 32px;
      line-height: 1.06;
      white-space: pre;
    }

    @media screen and (max-width: 767px) {
      top: 33vw;
      padding: 0 40rem;
      height: auto;

      .title {
        font-size: 52rem;
      }

      .subtitle {
        font-size: 32rem;
      }
    }
  }

  .gradient-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 9;
    pointer-events: none;
  }

  .black-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 9;
    pointer-events: none;
  }

  .white-bars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    z-index: 9;
    pointer-events: none;

    @media screen and (max-width: 767px) {
      flex-flow: row;
    }

    > li {
      background-color: white;
      height: 100%;
    }
  }

  .txt-list {
    position: relative;
    width: 33.3vh;
    height: 33.3vh;
    position: fixed;
    left: 50%;
    top: 100vw;
    margin-left: -66.6vh;
    display: flex;
    align-items: center;
    background-color: transparent;
    z-index: 9;

    li {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding-left: 20px;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 2;
      display: flex;
      flex-flow: column;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      // align-items: center;
      justify-content: center;
      span {
        display: block;
        white-space: nowrap;
      }

      span:nth-of-type(2) {
        color: white;
      }

      &.active {
        opacity: 1;
      }
    }

    @media screen and (max-width: 767px) {
      margin-left: 0;
      left: 0;
      transform: translateY(-50%);

      li {
        padding-left: 40rem;
        font-size: 32rem;
      }
    }
  }

  p.copyright {
    position: fixed;
    right: 70px;
    bottom: 55px;
    color: #000;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  @media screen and (max-width: 767px) {
    p.copyright {
      right: 40rem;
      bottom: 40rem;
    }
  }
}
