.contact-page {
  @media screen and (min-width: 768px) {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row;

    > div {
      flex-grow: 1;
      width: 100%;
      box-sizing: border-box;

      &:first-of-type {
        background: url(/img/contact_us.webp) center no-repeat;
        background-size: 100%;
      }

      &:last-of-type {
        display: flex;
        align-items: center;

        > div {
          // padding: 0 160px;
          width: 69.47%;
          margin: 0 auto;
        }

        h1 {
          color: #000;
          font-family: Noto Sans;
          font-size: 72px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.02778;
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
        }

        ul {
          margin-top: 80px;
          display: flex;
          flex-flow: column;
          gap: 40px;
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
          transition-delay: 0.2s;

          li {
            color: #000;
            font-size: 32px;
            font-style: normal;
            font-weight: 300;
            line-height: 1.375;
          }
        }

        .map-link {
          display: inline-block;
          margin-top: 84px;
          color: #000;
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px; /* 125% */
          text-transform: uppercase;
          border-bottom: 1px solid black;
          opacity: 1;
          transition: opacity 0.3s ease-in-out;
          transition-delay: 0.4s;
        }

        .copyright {
          position: absolute;
          right: 70px;
          bottom: 55px;
        }

        @media screen and (max-width: 1200px) {
          h1 {
            font-size: 48px;
          }

          ul {
            margin-top: 53px;
            gap: 27px;

            li {
              font-size: 21px;
            }
          }

          .map-link {
            margin-top: 56px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-flow: column;

    > div {
      width: 100%;

      &:first-of-type {
        background: url(/img/contact_us.webp) center no-repeat;
        background-size: cover;
        height: 112.5vw;
      }

      &:last-of-type {
        display: flex;
        align-items: center;

        > div {
          width: 100%;
          padding: 80rem 40rem;
        }

        h1 {
          color: #000;
          font-size: 72rem;
          font-style: normal;
          font-weight: 700;
          line-height: 1.02;
        }

        ul {
          margin-top: 80rem;
          display: flex;
          flex-flow: column;
          gap: 40rem;

          li {
            color: #000;
            font-size: 32rem;
            font-style: normal;
            font-weight: 300;
            line-height: 1.375;
          }
        }

        .map-link {
          display: inline-block;
          margin-top: 40rem;
          color: #000;
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 1.25;
          text-transform: uppercase;
          border-bottom: 1px solid black;
        }

        .copyright {
          position: absolute;
          right: 70px;
          bottom: 55px;
          display: none;
        }
      }
    }
  }

  &:not(.loaded) > div:last-of-type {
    h1 {
      opacity: 0;
    }
    ul {
      opacity: 0;
    }
    .map-link {
      opacity: 0;
    }
  }
}
