.about-page {
  @media screen and (min-width: 768px) {
    .container {
      margin: 0 auto;
      max-width: 1400px;
      padding: 0 40px;
    }

    .sec1 {
      position: relative;
      width: 100%;
      height: 720px;
      background: url(/img/about_01.png) center no-repeat;
      background-size: cover;

      .stair-item {
        position: absolute;
        top: 5%;
        left: 50%;
        width: 36vw;
        height: auto;
      }

      h1 {
        color: #000;
        font-family: Noto Sans;
        font-size: 120px;
        font-style: normal;
        font-weight: 700;
        line-height: 110px; /* 91.667% */

        position: absolute;
        left: 70px;
        bottom: 79px;
      }
    }

    .sec2 {
      position: relative;
      overflow: hidden;
      color: #000;
      font-family: Noto Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 300;
      line-height: 44px;

      .txt1 {
        margin: 80px 0;
        width: 68.57%;
        display: block;
        float: right;
      }

      .obj-wrap {
        width: 100%;
        display: flex;
        gap: 60px;
        padding-bottom: 200px;
        align-items: flex-end;
        padding-right: 40px;
        box-sizing: border-box;

        .img1 {
          width: 62.96%;
          float: right;
        }

        .stair-item {
          position: absolute;
          top: 40%;
          left: -10%;
          width: 36vw;
          height: auto;
          transform: rotate(90deg);
        }

        .txt2 {
          margin-bottom: -200px;
          max-width: 568px;
        }
      }
    }

    .sec3 {
      position: relative;
      padding: 180px 0;

      .stair-item {
        position: absolute;
        top: 20%;
        right: 10%;
        width: 36vw;
        height: auto;
        // transform: rotate(90deg);
      }

      .txt1 {
        margin: 0 auto;
        margin-top: 124px;
        color: #000;
        text-align: center;
        font-family: Noto Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 44px; /* 137.5% */
        width: 960px;
      }

      .title {
        margin-top: 180px;
        color: #000;
        text-align: center;
        font-family: Noto Sans;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: 54px;
      }

      .line {
        margin: 60px auto;
        width: 2px;
        height: 96px;
        background-color: black;
      }

      .txt2 {
        color: #000;

        text-align: center;
        font-family: Noto Sans;
        font-size: 48px;
        font-style: normal;
        font-weight: 300;
        line-height: 54px;
      }
    }

    .sec4 {
      background: url(/img/about_04.jpg) center no-repeat;
      background-size: cover;
      padding: 80px 40px;
      box-sizing: border-box;

      h2 {
        color: #fff;
        text-align: center;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25;
      }

      .circles {
        margin: 250px auto 182px;
        display: flex;
        justify-content: center;
        gap: 60px;

        li {
          width: 360px;
          height: 360px;
          background: url(/img/about_circle.svg) center no-repeat;
          background-size: cover;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;

          color: #fff;
          text-align: center;
          font-family: Noto Sans;
          font-size: 48px;
          font-style: normal;
          font-weight: 300;
          line-height: 1.125;
        }

        @media screen and (max-width: 1400px) {
          margin: 166px auto 121px;
          gap: 40px;

          li {
            width: 240px;
            height: 240px;
            font-size: 32px;
          }
        }
      }

      .txt1 {
        color: #fff;
        text-align: center;
        font-family: Noto Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: 300;
        line-height: 1.375;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .stair-item {
      display: none;
    }

    .container {
      margin: 0 auto;
      width: 100%;
      padding: 0 40rem;
      box-sizing: border-box;
    }

    .sec1 {
      position: relative;
      width: 100%;
      height: 40.5vw;
      background: url(/img/about_01.png) center top no-repeat;
      background-size: contain;
      padding-bottom: 130rem;

      h1 {
        color: #000;
        font-family: Pretendard;
        font-size: 100rem;
        font-style: normal;
        font-weight: 700;
        line-height: 0.9;

        position: absolute;
        left: 40rem;
        bottom: 0;
        // transform: translateY(70%);
      }
    }

    .sec2 {
      position: relative;
      overflow: hidden;
      color: #000;
      font-style: normal;

      color: #000;
      font-family: Pretendard;
      font-size: 32rem;
      font-style: normal;
      font-weight: 300;
      line-height: 1.375;

      .txt1 {
        margin-top: 80rem;
      }

      .obj-wrap {
        margin-top: 180rem;
        width: 100%;
        display: flex;
        gap: 80rem;
        flex-flow: column;
        align-items: flex-start;
        box-sizing: border-box;

        .img1 {
          width: 80.55%;
        }

        .txt2 {
          padding: 0 40rem;
        }
      }
    }

    .sec3 {
      padding: 180rem 0;

      .txt1 {
        margin: 0 auto;
        margin-top: 80rem;
        color: #000;
        text-align: center;
        font-family: Pretendard;
        font-size: 32rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.375;
      }

      .title {
        margin-top: 180rem;
        color: #000;
        text-align: center;
        font-size: 48rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.125;
      }

      .line {
        margin: 60rem auto;
        width: 2px;
        height: 96rem;
        background-color: black;
      }

      .txt2 {
        color: #000;
        text-align: center;
        font-size: 48rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.125;
      }
    }

    .sec4 {
      background: url(/img/about_04.jpg) center no-repeat;
      background-size: cover;
      padding: 60rem 0 80rem;
      box-sizing: border-box;

      h2 {
        color: #fff;
        text-align: center;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25;
      }

      .circles {
        margin: 180rem auto 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        gap: 80rem;

        li {
          width: 50vw;
          height: 50vw;
          border-radius: 25vw;
          border: 1px solid white;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;

          color: #fff;
          text-align: center;
          font-size: 48rem;
          font-style: normal;
          font-weight: 300;
          line-height: 1.125;
        }
      }

      .txt1 {
        margin-top: 80rem;
        color: #fff;
        text-align: center;
        font-family: Pretendard;
        font-size: 32rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.375;
        padding: 0 40rem;
        box-sizing: border-box;
      }
    }
  }
}
