@media screen and (min-width: 768px) {
  .work-page .stair-item {
    position: absolute;
    top: -5vw;
    left: 12%;
    width: 36.14vw;
    height: auto;
  }
  .work-page ul {
    margin-top: 80px;
    padding: 0 40px;
    max-width: 1520px;
    width: 100%;
    box-sizing: border-box;
    margin: 80px auto;
    overflow: hidden;
  }
  .work-page ul li {
    margin-top: -13.1%;
    width: 48.5%;
    cursor: pointer;
  }
  .work-page ul li:first-of-type {
    margin-top: 0;
  }
  .work-page ul li .thumb-wrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 128.57%;
    overflow: hidden;
    z-index: -1;
  }
  .work-page ul li .thumb-wrap::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: " ";
    background: rgba(255, 255, 255, 0.3);
  }
  .work-page ul li .thumb-wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
    cursor: pointer;
  }
  .work-page ul li .title {
    padding: 0 40px;
    color: #000;
    font-family: Pretendard;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.027;
    margin-top: -38px;
    white-space: nowrap;
    z-index: 10;
  }
}
@media screen and (min-width: 768px) and (max-width: 1800px) {
  .work-page ul li .title {
    margin-top: -27px;
    padding-left: 29px;
    font-size: 51px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .work-page ul li .title {
    margin-top: -25px;
    padding-left: 27px;
    font-size: 47px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .work-page ul li .title {
    margin-top: -23px;
    padding-left: 25px;
    font-size: 43px;
  }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
  .work-page ul li .title {
    margin-top: -21px;
    padding-left: 23px;
    font-size: 39px;
  }
}
@media screen and (min-width: 768px) {
  .work-page ul li .subtitle {
    padding-left: 40px;
    color: #000;
    font-family: Pretendard;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.375;
  }
}
@media screen and (min-width: 768px) and (max-width: 1800px) {
  .work-page ul li .subtitle {
    padding-left: 29px;
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .work-page ul li .subtitle {
    padding-left: 27px;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .work-page ul li .subtitle {
    padding-left: 25px;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .work-page ul li .subtitle {
    padding-left: 23px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .work-page ul li:nth-of-type(even) {
    margin-left: 51.5%;
  }
}
@media screen and (max-width: 767px) {
  .work-page .stair-item {
    display: none;
  }
  .work-page ul {
    margin-top: 57rem;
    padding: 0 40rem;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .work-page ul li {
    margin-bottom: 180rem;
    width: 100%;
  }
  .work-page ul li .thumb-wrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 128.57%;
    overflow: hidden;
    cursor: pointer;
  }
  .work-page ul li .thumb-wrap::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: " ";
    background: rgba(255, 255, 255, 0.3);
  }
  .work-page ul li .thumb-wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 110%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .work-page ul li .thumb-wrap:hover img {
    width: 101%;
  }
  .work-page ul li .title {
    color: #000;
    font-size: 58rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17241;
    margin-top: -29rem;
    white-space: nowrap;
  }
  .work-page ul li .txt {
    color: #000;
    font-family: Pretendard;
    font-size: 32rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.375;
  }
}

.work-detail-page {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 99;
  overflow-y: auto;
}
.work-detail-page .btn-close {
  position: fixed;
  top: 53px;
  right: 53px;
  width: 60px;
  height: 60px;
  background: url(/img/btn_x.svg) center no-repeat;
  background-color: black;
  outline: none;
  border: none;
  z-index: 9;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.work-detail-page .btn-close:hover {
  background-color: #333;
}
.work-detail-page .container {
  padding: 160px 0;
}
.work-detail-page .container h2 {
  padding: 0 70px;
  color: #000;
  font-family: "Noto Sans";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 74px; /* 102.778% */
}
.work-detail-page .container p,
.work-detail-page .container .text {
  margin: 0;
  padding: 0 70px;
  color: #000;
  font-family: "Noto Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 44px;
}
.work-detail-page .container .hashtags {
  margin-bottom: 18px;
}
.work-detail-page .container .desc {
  margin-top: 120px;
  max-width: 960px;
}
.work-detail-page .container .main-img {
  margin: 40px 0 140px;
  width: 100%;
}
.work-detail-page .container .inner-container {
  margin: 0 auto;
  padding: 0 70px;
  color: #000;
  font-family: "Noto Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 44px;
  display: flex;
  flex-flow: column;
  gap: 40px;
  max-width: 1066px;
}
.work-detail-page .container .inner-container h3 {
  position: relative;
  margin-top: 180px;
  margin-bottom: 60px;
  color: #000;
  text-align: center;
  font-family: "Noto Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 54px; /* 112.5% */
  padding-bottom: 156px;
}
.work-detail-page .container .inner-container h3::before {
  content: " ";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 2px;
  height: 96px;
  background-color: black;
}
.work-detail-page .container .inner-container img {
  display: block;
}
.work-detail-page .container .inner-container .video-wrap {
  position: relative;
  padding-top: 28%;
  width: 100%;
  background: black;
}
.work-detail-page .container .inner-container .video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.work-detail-page .container .notes {
  display: block;
  margin-top: 60px;
  position: relative;
  padding: 156px 0 40px;
}
.work-detail-page .container .notes::before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 70px;
  width: 2px;
  height: 96px;
  background-color: black;
}
.work-detail-page .container .notes li {
  display: flex;
}
.work-detail-page .container .notes li span {
  margin-right: 122px;
  width: 117px;
  white-space: nowrap;
}
.work-detail-page .bot-float {
  margin-bottom: 50px;
  padding: 0 50px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}
.work-detail-page .bot-float button {
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  background: url(/img/arrow_left.svg) center no-repeat;
  background-color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.work-detail-page .bot-float button:hover {
  background-color: #333;
}
.work-detail-page .bot-float button:last-of-type {
  transform: rotate(180deg);
}/*# sourceMappingURL=work.css.map */